.cultivation-info {
  border-left: 2px solid #ddd;
  padding-left: 20px;
  margin-top: 20px;
}

.cultivation-info h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.cultivation-info p {
  font-size: 1em;
  color: #555;
  white-space: pre-line;
}

.cultivation-box {
  max-width: 800px;
}
